.global {
  outline: none;
  border-radius: 15px;
  padding: 2%;
  background-color: rgb(52,52,53);
  border-color: #4D4D4D;
  color: #808076;
  opacity: 0.8;
}

.global svg {
  fill: lightgray;
}

.global svg:hover {
  fill: gray;
}
